{% extends 'layout.html.twig' %}

{% block title %}Foodadvisor{% endblock %}

{% block body %}
<div class="jumbotron-accueil">
    <div class="container">
        <div class="accueil">
        <div class="about text">
            <h2 class="title text">A propos de Foodadvisor</h2>
            <div class="card description mb-4 pt-2 pb-2">
                <P>Si vous recherchez un restaurant proche de chez vous pour vous faire plaisir ou faire plaisir à vos proches,
                    Foodavisor est fait pour vous.
                    Grâce à notre application, vous avez une liste de restaurant à proximité du lieux indiqué.
                    Cette liste regroupe les différents restaurants déjà testé par nos soins ou par les autres consommateurs.
                    Vous pourrez y voir une note moyenne laissée par l'ensemble des utilisateurs,
                    ainsi que leurs avis sur le restaurant, la nourriture, etc...
                    Vous avez également la possibilitée de laisser vous même un commentaire sur un restaurant dejà enregistré ou encore gràce à notre formulaire de contact,
                    nous proposer un restaurant à intégrer.
                </P>
            </div>
        </div>
        <div class="restaurant text text-center justify-content-center">
            <h2 class="title text text-center">Les derniers restaurants ajoutés</h2>
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col-md-3 pb-5 mt-4 mb-4">
                        <div class="card mb-2">
                            {% if restaurant.picture %}
                                <img src="{{ vich_uploader_asset(restaurant.picture,'imageFile') }}" alt="card-img-top" style="width: 100%; height: auto;">
                            {% else %}
                                <img src="{{'/images/restaurants/empty.jpg' }}" alt="card-img-top" style="width:100%; height: auto;">
                            {% endif %}
                            <h3 class="text text-center pt-3"><a href="{{ path('restaurant_show',{slug: restaurant.slug, id: restaurant.id}) }}">
                                    {{ restaurant.name }}</a>
                            </h3>
                            <h5 class="text-center pt-2">{{ restaurant.city }} ({{ restaurant.postalcode }})</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
