{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container form p-4">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.pseudo, 'Pseudo') }}
            {{ form_widget(form.pseudo) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.message, 'commentaire laissé') }}
            {{ form_widget(form.message) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.note, 'note laissé') }}
            {{ form_widget(form.note) }}
        </div>
        <div class="col-md-3 mt-4 mb-4">
            {% if comment.isActive ==1 %}
                <p class="col-2 text-body">Publié sur le site</p>
                <form method="post">
                    <input type="number" hidden name="id" value="{{ comment.id }}">
                    <input type="number" hidden name="isActive" value="1">
                    <div class="col-2">
                        <button class="btn btn-dark" type="submit" role="button">cacher</button>
                    </div>
                </form>
            {% else %}
                <p class="col-2 text-body">Non publié</p>
                <form method="post">
                    <input type="number" hidden name="id" value="{{ comment.id }}">
                    <input type="number" hidden name="isActive" value="0">
                    <div class="col-2">
                        <button class="btn btn-success" type="submit" role="button">Publier</button>
                    </div>
                </form>
            {% endif %}
        </div>

    <div class="form-row justify-content-center text-center m-2">
        <button type="submit" class="btn btn-primary btn-lg">
            {{ button_label|default('sauvegarder') }}
        </button>
    </div>
    <a href="{{ path('comment_index') }}" class="btn-return btn-primary btn-lg">
        Retour à la liste des restaurants
    </a>
    {{ form_end(form) }}
