{% extends 'layout.html.twig' %}

{% block title %}Restaurant favoris{% endblock %}

{% block body %}
    <div class ="container mt-4">
        <h1 class ="text text-center mb-5">Les restaurants les mieux notés</h1>
        <div class="row">
            {% for restaurant in restaurants %}
                <div class="col-md-4">
                    <div class="card mb-5">
                        {% if restaurant.picture %}
                            <img src="{{ vich_uploader_asset(restaurant.picture,'imageFile') }}" alt="card-img-top" style="width: 100%; height: auto;">
                        {% else %}
                            <img src="{{'/images/restaurants/empty.jpg' }}" alt="card-img-top" style="width:100%; height: auto;">
                        {% endif %}
                        <h3 class="text text-center"><a href="{{ path('restaurant_show',{slug: restaurant.slug, id: restaurant.id}) }}">
                                {{ restaurant.name }}</a>
                        </h3>
                        <h5 class="text-center">{{ restaurant.city }} ({{ restaurant.postalcode }})</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(restaurants) }}
        </div>
    </div>
{% endblock %}