{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
                <th>Address</th>
                <th>Postal_code</th>
                <th>Site</th>
                <th>Pictures</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.type }}</td>
                <td>{{ restaurant.city }}</td>
                <td>{{ restaurant.address }}</td>
                <td>{{ restaurant.postalCode }}</td>
                <td>{{ restaurant.site }}</td>
                <td>{{ restaurant.pictures }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('restaurant_new') }}">Create new</a>
{% endblock %}
