<div class="admin">
    <nav class="navbar navbar-expand-lg">
        <div class="logo">
            <a class="navbar-brand" href="{{ path('admin') }}"><img src="{{ asset('build/images/logofoodadmin.png') }}" alt="logo_Food" class="logo Food"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-supported-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link3 {{ app.request.attributes.get('_route') == 'admin_restaurant_index' ? 'active-link' }}" href="{{ path('admin_restaurant_index')}}">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link5 {{ app.request.attributes.get('_route') == 'admin_caracteristic_index' ? 'active-link' }}" href="{{ path('admin_caracteristic_index')}}">Caractéristiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link6 {{ app.request.attributes.get('_route') == 'admin_paiement_index' ? 'active-link' }}" href="{{ path('admin_paiement_index')}}">Moyens de paiement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link4" href="#">Commentaires</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-danger my-2 my-sm-0 " href="{{ path('app_logout') }}" type="submit">Déconnexion</a>
            </div>
        </div>
    </nav>
</div>