{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container form p-4">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.name, 'Nom du restaurant') }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.type, 'Type de nourriture') }}
            {{ form_widget(form.type) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.address, 'Adresse du restaurant') }}
            {{ form_widget(form.address) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.postal_code, 'Code postal') }}
            {{ form_widget(form.postal_code) }}

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.city, 'Ville') }}
            {{ form_widget(form.city) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.site, 'Site web du restaurant') }}
            {{ form_widget(form.site) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.phone, 'Numéro de téléphone du restaurant') }}
            {{ form_widget(form.phone) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.openingTime, 'Horaires d\'ouverture') }}
            {{ form_widget(form.openingTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.cost, 'Coût moyen') }}
            {{ form_widget(form.cost) }}
        </div>
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.caracteristics, 'Caractéristiques du restaurant') }}
            {{ form_widget(form.caracteristics) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            {{ form_label(form.paiements, 'Moyens de paiement accéptés') }}
            {{ form_widget(form.paiements) }}
        </div>
    </div>

    <div class="form-row justify-content-center text-center m-2">
        <button type="submit" class="btn btn-primary btn-lg">
            {{ button_label|default('sauvegarder') }}
        </button>
    </div>
    <a href="{{ path('admin_restaurant_index') }}" class="btn-return btn-primary btn-lg">
        Retour à la liste des restaurants
    </a>
    {{ form_end(form) }}
